html body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: black;
}

ul {
  margin: 0;
}

li {
  list-style: none;
}

.navbar {
  padding: 0;
}

.carousel {
  font-family: "Montserrat", sans-serif;
}

.container {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
