// color
$main-color: #b61984;
$white: white;
$black: black;
$listTeachers-bg-color: #dcd1f3;

// margin
$m30: 30px;

// Responsive
$breakpoints: (
  "xl": 1200px,
  "lg": 992px,
  "md": 768px,
  "sm": 576px,
  "extra-small": 480px,
);

